/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: black;
	color: #ddd;
	font-family: "Source Code Pro", sans-serif;
}

header,
footer {
	font-size: 120px;
	font-weight: 300;
	line-height: 1.5em;
}

section {
	font-weight: 600;
	margin-left: 12em;
	line-height: 1.2em;
}

a {
	color: #88c;
	text-decoration: none;
}

.comment {
	color: lightgreen;
}

.text {
	color: orange;
}

.blink {
	animation: blink-animation 1s steps(5, start) infinite;
	-webkit-animation: blink-animation 1s steps(5, start) infinite;
}

.cursor {
	border-left: 1px solid white;
}

.indented {
	padding-left: 2em;
}
@keyframes blink-animation {
	to {
		visibility: hidden;
	}
}

@-webkit-keyframes blink-animation {
	to {
		visibility: hidden;
	}
}

@media (max-width: 800px) {
	header,
	footer {
		font-size: 80px;
	}

	section {
		margin-left: 6em;
	}
}

@media (max-width: 550px) {
	header,
	footer {
		font-size: 50px;
	}

	section {
		font-size: .9em;
		margin-left: 3em;
	}
}
